$bg: rgba(30,30,30);
.banner{
    height:600px;
   // width: 300px;
    background-color: $bg;
   position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    display:flex;
    flex-direction: column;
    justify-content: center;
    &::after{
        content: "";
        height:100%;
        width:100%;
        position: absolute;
        background-color: $bg;
        opacity: 0.4;
    }
    >h1{
        color :bl;
    font-size: 4rem;
    width :50%;
    }
}



.card{
    width: 200px;
    cursor:pointer;
    margin: 0.3rem;
  transition:transform 0.5s;
    &:hover{
     transform:translateX(-10px) ;
    }
}
.row{
    padding:1rem;
    background-color: $bg;
    >h2{
       font-weight:300;
       margin: 0.3rem;
    }
    >div{
        display:flex;
        overflow-x: auto;
        
       

    }
}
.genreBox{
    overflow-x: auto;
    display :flex;
    height:100px;
    background-color: $bg;

    
    >a{
       color:$bg;
       background-color: white;
       padding :1rem 0;
       border-radius: 5px;
       text-align: center;
       margin:1rem;
       transition:all 0.5s;
       min-width: 10rem;

       &:hover{
        background-color: grey;
       
       }

    }
}